# Node.js
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/*.log
logs/

# Environment Files
.env
.env.local
.env.*.local

keys/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# MacOS directory files
._*

# Temporary Files
*.swp
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# Compiled source files
*.js
*.js.mapx
*.jsx
*.jsx.map

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# Miscellaneous
/.husky/_/
node_modules/
.env.save
